# Do not take into accout HTML and config. from Doxygen
doc/* linguist-documentation
lib/*/doc/* linguist-documentation

# Do not take into account deployment code & library code
etc/* linguist-vendored
lib/* linguist-vendored
