language: cpp

os: linux
dist: trusty
sudo: required
compiler: gcc

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt-5.10.1-trusty -y
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq qt510base qt510quickcontrols2 cmake mesa-common-dev qt510declarative qt510svg libegl1-mesa-dev libsdl2-dev
  - source /opt/qt510/bin/qt510-env.sh

script:
  - qmake CONFIG+=release PREFIX=/usr
  - make -j$(nproc)
  - mkdir -p appdir/usr/bin ; strip qdriverstation ; cp qdriverstation ./appdir/usr/bin/
  - mkdir -p appdir/usr/share/applications ; cp etc/deploy/linux/qdriverstation.desktop ./appdir/usr/share/applications/
  - mkdir -p appdir/usr/share/pixmaps ; cp etc/deploy/linux/qdriverstation.png ./appdir/usr/share/pixmaps
  - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
  - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
  - unset QTDIR; unset QT_PLUGIN_PATH ; unset LD_LIBRARY_PATH
  - export VERSION=$(git rev-parse --short HEAD)
  - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop -bundle-non-qt-libs -qmldir=/opt/qt510/qml
  - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop -appimage -qmldir=/opt/qt510/qml

after_success:
  - find appdir -executable -type f -exec ldd {} \; | grep " => /usr" | cut -d " " -f 2-3 | sort | uniq
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh QDriverStation*.AppImage*

notifications:
  email: false
