source: qdriverstation
Section: utils
Priority: optional
Maintainer: Alex Spataru <alex_spataru@outlook.com>
Build-Depends: debhelper, libsdl2-dev, qtbase5-dev (>= 5.2), qttools5-dev (>= 5.2), qtmultimedia5-dev (>= 5.2), qttools5-dev-tools (>= 5.2), qtdeclarative5-dev (>= 5.2), qt5-qmake
Standards-Version: 3.9.6
Homepage: http://qdriverstation.sf.net/

Package: notes
Architecture: any
Depends: libqt5gui5 (>= 5.2), libqt5widgets5 (>= 5.2), libqt5qml5 (>= 5.2), libqt5core5a (>= 5.2), libqt5network5 (>= 5.2), libqt5multimedia5 (>= 5.2), libqtdeclarative5 (>= 5.2), qml-module-qtquick2, qml-module-qtquick-window2, qml-module-qtquick-layouts, qml-module-qtquick-controls, qml-module-qtquick-settings, ${misc:Depends}, ${shlibs:Depends}
Description: The QDriverStation is a cross-platform and open-source alternative to the FRC Driver Station. It supports the FRC 2009-2014 communication protocol and the FRC 2015-2016 protocol. Joystick input is handled via SDL, however, you can also operate your robot with a keyboard-based joystick.
