[Desktop Entry]
Name=QDriverStation
Comment=Open source alternative to the FRC DriverStation
Exec=qdriverstation
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Network;Joystick;Game;Robots;FRC;
Icon=qdriverstation
