[Desktop Entry]
Name=QDriverStation
Comment=Open-source alternative to the FRC Driver Station
Exec=qdriverstation
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;Education;Qt;Robotics;Utility;
Icon=qdriverstation
