1 VERSIONINFO
FILEVERSION 16,6,0,0
PRODUCTVERSION 16,6,0,0
FILEOS 0x4
FILETYPE 0x0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "WinT 3794"
      VALUE "FileDescription",  "QDriverStation"
      VALUE "FileVersion",      "16,6,0,0"
      VALUE "InternalName",     "QDriverStation"
      VALUE "LegalCopyright",   "Copyright \251 2015 WinT 3794"
      VALUE "OriginalFilename", "QDriverStation"
      VALUE "ProductName",      "QDriverStation"
      VALUE "ProductVersion",   "16,6,0,0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

IDI_ICON1               ICON    DISCARDABLE     "AppIcon.ico"
